.Comments {
  .Comment-container{
    border: 1px solid green;
    background-color: antiquewhite;
    margin: 10px 20px;
    padding: 5px;
  }
}
.Comment {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 14px;

  &-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    h5 {
      font-size: 16px;
      font-weight: bold;
      margin: 0;
    }

    span {
      font-size: 12px;
      color: #777;
    }
  }

  &-file {
    margin-top: 10px;
    a {
      color: #007bff;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &-image {
    margin-top: 10px;
    img {
      border-radius: 8px;
      width: 100%;
      height: auto;
      max-width: 320px;
    }
  }

  &-replies {
    margin-top: 20px;
    padding-left: 20px;
    border-left: 2px solid #ccc;
  }
}